<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
	<link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
	<link rel="stylesheet" href="../css/font-style.css">
	<meta charset="UTF-8">
	<title>Coders Tokyo School</title>
</head>
<body>
	<div class="container-fluid mt-5 pt-5">
		<div class="row">
			<div class="wallpaper bg-light d-none d-md-block col-md-6 d-flex ">
				<div class="content align-self-center">
					<h3>Stay hungry, stay foolish.</h3>
					<h5>Steve Jobs - Apple's CEO</h5>
				</div>
			</div>

			<div class="form-login  col-sm-12 col-md-6 float-md-right">
				<img class ="mb-5 ml-5 pl-1" src="../images/logo-mini.png"  alt="">
				<form action="/action_page.php" class="mx-xs-3 mx-sm-5">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" style="width: 6rem">Email</span>
						</div>
						<input type="text" class="form-control"  id="usr" name="username">
					</div>

					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Password</span>
						</div>
						<input type="text" class="form-control" id="usr" name="username">
					</div>
					<button type="submit" class="btn btn-primary">Login</button>
					<a href="#" class="float-right">Quên mật khẩu</a>
				</form>
				<div class="sign-out ml-sm-5 mt-3"><a href="#">Đăng ký</a> nếu chưa có tài khoản</div>
			</div>
		</div>


	</div>
	

</body>
</html>