<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
	<link rel="shortcut icon" type="image/png" href="/favicon.ico"/>

	<link rel="stylesheet" href="../css/team.css">
	<link rel="stylesheet" href="..css/font-style.css">
	<meta charset="UTF-8">
	<title>Đội ngũ phát triển cộng đồng</title>
</head>
<body>
	<article>
		<div class="container jumbotron text-center">
			<h3 class="text-primary">We work hard everyday</h3>
			<p>to bring free education to you.</p>
			<a href="#joinUs" class="text-uppercase btn btn-info">join the awesome team</a>
		</div>

		<section>
			<div class="container">
				<span class="badge badge-secondary">FREE</span>&nbsp
				<a href="#">Đăng ký</a> để nhận ngay 
				<strong>khóa học lập trình 1 năm</strong> và cơ hội đi làm tại Nhật hoàn toàn <strong> MIỄN PHÍ</strong>.
			</div>
		</section>
		
		<section class="mt-5 text-center">
			<div class="container">
				<div class="content-team">
					<h4>Content team</h4>
					<p class="text-justify">Hàng ngày chúng tôi dịch bài viết được tổng hợp từ khắp nơi trên Internet và đưa lên blog của cộng đồng. Những bài viết này phần lớn tập trung vào các chủ đề như: phương pháp học, định hướng học lập trình, du lịch, các bài viết về tech hướng tới các bạn mới học lập trình.</p>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="feature my-4 text-center">
							<img  src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.0-9/51321711_2277493042530406_1207735517915906048_n.jpg?_nc_cat=104&_nc_oc=AQne5HjWHgfbHixhg-d4akrX15ZWkmpqsK2fp2Fjw-s5vEyHKMoZ3wf7OCJ_ivOOvcU&_nc_ht=scontent.fhan2-4.fna&oh=46ec70a6580bd8553019038c86ad9b12&oe=5CDB9A92" alt="avatar" class="img-fluid rounded-circle mb-3">
							<h5 class="">Thủy Tiên</h5>
						</div>
					</div>
					<div class="col-md-3">
						<div class="feature my-4 text-center">
							<img  src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.0-9/51321711_2277493042530406_1207735517915906048_n.jpg?_nc_cat=104&_nc_oc=AQne5HjWHgfbHixhg-d4akrX15ZWkmpqsK2fp2Fjw-s5vEyHKMoZ3wf7OCJ_ivOOvcU&_nc_ht=scontent.fhan2-4.fna&oh=46ec70a6580bd8553019038c86ad9b12&oe=5CDB9A92" alt="avatar" class="img-fluid rounded-circle mb-3">
							<h5 class="">Thủy Tiên</h5>
						</div>
					</div>
					<div class="col-md-3">
						<div class="feature my-4 text-center">
							<img  src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.0-9/51321711_2277493042530406_1207735517915906048_n.jpg?_nc_cat=104&_nc_oc=AQne5HjWHgfbHixhg-d4akrX15ZWkmpqsK2fp2Fjw-s5vEyHKMoZ3wf7OCJ_ivOOvcU&_nc_ht=scontent.fhan2-4.fna&oh=46ec70a6580bd8553019038c86ad9b12&oe=5CDB9A92" alt="avatar" class="img-fluid rounded-circle mb-3">
							<h5 class="">Thủy Tiên</h5>
						</div>
					</div>
					<div class="col-md-3">
						<div class="feature my-4 text-center">
							<img  src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.0-9/51321711_2277493042530406_1207735517915906048_n.jpg?_nc_cat=104&_nc_oc=AQne5HjWHgfbHixhg-d4akrX15ZWkmpqsK2fp2Fjw-s5vEyHKMoZ3wf7OCJ_ivOOvcU&_nc_ht=scontent.fhan2-4.fna&oh=46ec70a6580bd8553019038c86ad9b12&oe=5CDB9A92" alt="avatar" class="img-fluid rounded-circle mb-3">
							<h5 class="">Thủy Tiên</h5>
						</div>
					</div>
				</div>
				<!-- end of .row 1-->
				
				<div class="row">
					<div class="col-md-3">
						<div class="feature my-4 text-center">
							<img  src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.0-0/p206x206/48390161_2296116653957822_2897613756559261696_n.jpg?_nc_cat=102&_nc_oc=AQm3aSRsIae9CsIW-tlSZs4-R-bkrKDxEtTbnPBx4SV1y-70RMcyZqglMbFOvbFlz-E&_nc_ht=scontent.fhan2-1.fna&oh=ffb7543eaaeb1e64a830d3003731aa49&oe=5CF13D08" alt="avatar" class="img-fluid rounded-circle mb-3">
							<h5 class="">Ánh Suri</h5>
						</div>
					</div>
					<div class="col-md-3">
						<div class="feature my-4 text-center">
							<img  src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.0-0/p206x206/48390161_2296116653957822_2897613756559261696_n.jpg?_nc_cat=102&_nc_oc=AQm3aSRsIae9CsIW-tlSZs4-R-bkrKDxEtTbnPBx4SV1y-70RMcyZqglMbFOvbFlz-E&_nc_ht=scontent.fhan2-1.fna&oh=ffb7543eaaeb1e64a830d3003731aa49&oe=5CF13D08" alt="avatar" class="img-fluid rounded-circle mb-3">
							<h5 class="">Ánh Suri</h5>
						</div>
					</div>
					<div class="col-md-3">
						<div class="feature my-4 text-center">
							<img  src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.0-0/p206x206/48390161_2296116653957822_2897613756559261696_n.jpg?_nc_cat=102&_nc_oc=AQm3aSRsIae9CsIW-tlSZs4-R-bkrKDxEtTbnPBx4SV1y-70RMcyZqglMbFOvbFlz-E&_nc_ht=scontent.fhan2-1.fna&oh=ffb7543eaaeb1e64a830d3003731aa49&oe=5CF13D08" alt="avatar" class="img-fluid rounded-circle mb-3">
							<h5 class="">Ánh Suri</h5>
						</div>
					</div>
					<div class="col-md-3">
						<div class="feature my-4 text-center">
							<img  src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.0-0/p206x206/48390161_2296116653957822_2897613756559261696_n.jpg?_nc_cat=102&_nc_oc=AQm3aSRsIae9CsIW-tlSZs4-R-bkrKDxEtTbnPBx4SV1y-70RMcyZqglMbFOvbFlz-E&_nc_ht=scontent.fhan2-1.fna&oh=ffb7543eaaeb1e64a830d3003731aa49&oe=5CF13D08" alt="avatar" class="img-fluid rounded-circle mb-3">
							<h5 class="">Ánh Suri</h5>
						</div>
					</div>
				</div>
				<!-- end of .row 2-->
			</div>
			<!-- end of .container -->
			<hr>
		</section>
		
		<section>
			<div class="container text-center">
				<h3>
					Join the awesome team
				</h3>
				<p class="text-justify">
					Cộng đồng Coders.Tokyo được sinh ra với mục đích mang lại một nền giáo dục miễn phí cho tất cả mọi người trên thế giới, bắt đầu bằng việc cung cấp các khoá học lập trình miễn phí cho sinh viên Việt Nam. Nếu bạn yêu thích cộng đồng, muốn đóng góp một phần vào sự trưởng thành của cộng đồng, muốn làm việc với một team rất awesome, hãy tham gia và let’s make it happen :)
				</p>
				<br>
				<a href="#" class="btn btn-primary text-uppercase" id="joinUs">join us</a>
			</div>
			<hr>
		</section>

		<section class="mt-5">
			<div class="container">
				<h2>“Great things in business are never done by one person. They’re done by a team of people.”</h2>
				<h5 class="text-center">Steve Jobs</h5>
			</div>
			<br>
		</section>

	</article>
</body>
</html>